{% set navigations = [
  { url: 'demo/showhide', label: 'Show/Hide' },
  { url: 'demo/tabs', label: 'Tabs' },
] %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">jQery Alt Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% for item in navigations %}
          <a class="nav-item nav-link" href="{{ url(item.url) }}">{{ item.label }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
