{% extends "_layouts/base.twig" %}

{% block content %}
  <h2>jQuery</h2>
  <div class="row mt-2 my-4">
    <div class="col-md-6">
      this is code
    </div>
    <div class="col-md-6">
      this is preview
    </div>
  </div>

  <hr/>
  <h2>Unpoly</h2>
  <div class="row mt-2 my-4"></div>

  <hr/>
  <h2>Stimulus</h2>
  <div class="row mt-2 my-4"></div>

  <hr/>
  <h2>Alpine.js</h2>
  <div class="row mt-2 my-4"></div>
{% endblock %}