{% extends "_layouts/base.twig" %}

{% block content %}
  <h2>jQuery</h2>
  <div class="jquery row mt-2 my-4">
    <div class="col-md-6">
     this is code
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary">
        Toggle
      </button>
      <div class="text d-none">
        this is sentence of the year!
      </div>
    </div>
  </div>

  <hr/>
  <h2>Unpoly</h2>
  <div class="row mt-2 my-4"></div>

  <hr/>
  <h2>Stimulus</h2>
  <div class="stimulus row mt-2 my-4" data-controller="hello">
    <div class="col-md-6">
     this is code
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" data-action="click->hello#toggle">
        Toggle
      </button>
      <div class="text d-none" data-target="hello.text">
        this is sentence of the year!
      </div>
    </div>
  </div>

  <hr/>
  <h2>Alpine.js</h2>
  <div class="row mt-2 my-4"></div>
{% endblock %}

{% block footerScript %}
  <script>
    /* ------------------ jQuery ------------------ */
    $('.jquery .btn').click(function() {
      $('.jquery .text').toggleClass('d-none');
    });

    /* ------------------ stimulus ------------------ */
    const application = Stimulus.Application.start();
    application.register("hello", class extends Stimulus.Controller {
      static get targets() {
        return ['text'];
      }

      toggle() {
        this.textTarget.classList.toggle('d-none');
      }
    })
  </script>
{% endblock %}