{% extends "_layouts/base.twig" %}

{% set pageTitle = 'Search' %}

{% block content %}
  <h2>jQuery</h2>
  <div class="row mt-2 my-4">
    <div class="code col-md-8">

    </div>
    <div class="jquery col-md-4">
      <input type="text" class="form-control" placeholder="search article">
      <div class="result mt-4"></div>
    </div>
  </div>
  <hr/>

  <h2>Unpoly</h2>
  <div class="row mt-2 my-4">
    <div class="code col-md-8">

    </div>
    <div class="unpoly col-md-4">
      <form action="/demo/search-result" method="GET"
            up-autosubmit
            up-history="false"
            up-target=".unpoly-result">
        <input type="text" name="q" class="form-control" placeholder="search article">
      </form>
      <div class="mt-4">
        <div class="unpoly-result"></div>
      </div>
    </div>
  </div>
  <hr/>

  <h2>Stimulus</h2>
  <div class="row mt-2 my-4">
    <div class="code col-md-8">

    </div>
    <div class="stimulus col-md-4" data-controller="hello">
      <input type="text" class="form-control" placeholder="search article"
             data-target="hello.text"
             data-action="keyup->hello#search">
      <div class="result mt-4"
           data-target="hello.result"
      ></div>
    </div>
  </div>
  <hr/>

  <h2>Alpine.js</h2>
  <div class="row mt-2 my-4">
    <div class="code col-md-8">

    </div>
    <div class="alpine col-md-4" x-data="alpineSearch()">
      <input type="text" class="form-control" placeholder="search article"
             x-model="searchText"
             @keyup="search()" >
      <div class="result mt-4" x-html="searchResult"></div>
    </div>
  </div>
  <hr/>
{% endblock %}

{% block footerScript %}
  <script>
    /* ------------------ jQuery ------------------ */
    $('.jquery .form-control').on('keyup', (event) => {
      $.ajax(`/demo/search-result?q=${event.target.value}`, {
        success(response) {
          $('.jquery .result').html(response);
        },
      });
    });

    /* ------------------ stimulus ------------------ */
    const application = Stimulus.Application.start();
    application.register("hello", class extends Stimulus.Controller {
      static get targets() {
        return [
          'text',
          'result'
        ];
      }

      search() {
        fetch(`/demo/search-result?q=${this.textTarget.value}`)
          .then(response => response.text())
          .then((response) => {
            this.resultTarget.innerHTML = response;
          });
      }
    });

    /* ------------------ alpine ------------------ */
    function alpineSearch() {
      return {
        searchText: '',
        searchResult: '',
        search() {
          fetch(`/demo/search-result?q=${this.searchText}`)
            .then(response => response.text())
            .then((response) => {
              this.searchResult = response;
            });
        }
      }
    }
  </script>
{% endblock %}