

<html>
  <head>
    <title>{{ pageTitle|default('Home') }} | {{ siteName }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/unpoly@0.61.0/dist/unpoly.min.css" integrity="sha384-Au6LjS9fxDpwn3+26YmukmOumZUmryd8ONenkVIoH4eEPH1tACqLsVfqz9tBrvQy" crossorigin="anonymous">
    <style>
      iframe {
        width: 100% !important;
        transform: scale(1) !important;
      }
      a {
        cursor: pointer;
      }
      .navbar-nav-svg {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: text-top;
      }
    </style>
  </head>
  <body>
    {% include "_includes/navbar.twig" %}
    <div class="container my-5">
      {% block content %}{% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.8.1/dist/alpine.min.js"></script>
    <script src="https://unpkg.com/unpoly@0.61.0/dist/unpoly.min.js" integrity="sha384-gW6zzUz/Kx42R/cIyfZeFdlW18HuD/vtSCfsv6cdlfeg3CRqh89KzWER1dQ1i4BJ" crossorigin="anonymous"></script>
    {% block footerScript %}{% endblock %}
  </body>
</html>